  div:hover {
    font-weight: bold;
  }

  #div1 {
      color:blueviolet;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 18pt;
  }

  #div2 {
      color: chocolate;
      text-align: left;
      font-size: 12pt;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #div3 {
      color: darkgreen;
      font-size: 26pt;
      text-align: right;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #B1 {
      margin: 0 auto;
      display: block;
  }