
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="MATH">

  <title>project 2</title>

</head>
<body>

<p>if you made it this far you were authenticated</p>

</body>
</html>
