
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="MATH">

  <title>ASSIGNMENT 9</title>

</head>
<body>

<h1>MATH IS A WONDERFUL THING</h1>

<br/>
<p> Sending a "<%= postageType %>" that weighs <%= weight %> will cost <%= result %> </p>

</body>
</html>
