
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="MATH">

  <title>TEAM ASSIGNMENT 9</title>

</head>
<body>

<h1>MATH IS A WONDERFUL THING</h1>

<br/>
<p> You did "<%= operator %>" on <%= firstN %> and <%= secondN %> and the result is <%= result %> </p>

</body>
</html>
