body{
   margin-left:10%;
   margin-right:10%;
   border:3px solid black;
}

header {
   padding: 5%;
   font-size: 50px;
   background-color: dodgerblue;
   color:white;
}

#container {
   background-color: lightgray;
}

#FirstDiv{
   background-color:black;
}

#FirstDiv a {
   text-decoration: none;
   font-size: 20px;
   color: white;
}

video{
   margin-left:auto;
   margin-right:auto;
   display:block;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   padding-bottom: 10px;
}
#list {
   border: 5px solid black;
   display: inline-block;
   font-size: 20px;
}

#SecondDiv p {
   padding-left: 10%;
   padding-right: 10%;
   font-size: 16px;
}

