@import url('https://fonts.googleapis.com/css?family=Lora');


/*basics*/
html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

h1,h2{
    font-family: 'Lora';
    margin: 0;
}



/*Header*/
header{
    background-color: #0B3954;
    color: #BFD7EA;
    width: 100%;
    text-align: right;
    padding: 5% 0%;
}
header a{
    color: #BFD7EA;
    text-decoration: none;

}
h1{
    padding: 5%;
}

hr{
    color: #BFD7EA;
    width: 90%;
}

ul{
    list-style-type: none;
    margin: 0px;
}

nav li{
    padding: 10px;
    padding-right: 5%;

}

nav a:link{
    color: #BFD7EA;
}
nav a:hover{
    text-decoration: underline;
    color: #ffffff;
}


/*body*/

main{
    background-color: #BFD7EA;
    height: 100%;
    padding-top: 5%;
}


/*body links*/
main a{
    text-decoration: none;

}

main a:link{
    color: #FF5A5F;
}
main a:visited{
    color: #FF5A5F;
}
main a:hover{
    text-decoration: underline;
    color: #FF5A5F;
}
main a:active{
    color: #BFD7EA;
}

/*body articles*/
article{
    margin: 5% 20%;
    background-color: #ffffff;
    padding: 7%;
    box-shadow: 3px 3px #999999;
}
img{
    width: 100%;
    margin: 5% auto;
    text-align: center;
}
.post-date{
    font-size: .9em;
    color: darkgrey;
}

#warning{
    color: #ffffff;
    font-size: 1.5em;
    margin: 0px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


